.container {
    text-align: center;
    padding: 1rem 6rem;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    margin: 1rem;
    padding: 1rem 1.2rem;
    border-radius: var(--border-radius);
    background: rgba(var(--card-rgb), 0);
    border: 1px solid rgba(var(--card-border-rgb), 0);
    transition: background 200ms, border 200ms;
}

.btn span {
    display: inline-block;
    transition: transform 200ms;
}

@media (hover: hover) and (pointer: fine) {
    .btn:hover {
      background: rgba(var(--card-rgb), 0.1);
      border: 1px solid rgba(var(--card-border-rgb), 0.15);
    }

    .btn:hover span {
      transform: translateX(4px);
    }
}

@media (prefers-reduced-motion) {
    .btn:hover span {
      transform: none;
    }
}

.buttonsContainer {
    display: flex;
    justify-content: center;
}

.exercisesGrid {
    display: grid;
    grid-template-columns: repeat(4, minmax(25%, auto));
    max-width: 100%;
    width: var(--max-width);
}

.exerciseCard {
    padding: 1rem 1.2rem;
    border-radius: var(--border-radius);
    background: rgba(var(--card-rgb), 0);
    border: 1px solid rgba(var(--card-border-rgb), 0);
    transition: background 200ms, border 200ms;
}

.exerciseCard span {
    display: inline-block;
    transition: transform 200ms;
}

.exerciseCard h2 {
    font-weight: 600;
    margin-bottom: 0.7rem;
}

.exerciseCard p {
    margin: 0;
    opacity: 0.6;
    font-size: 0.9rem;
    line-height: 1.5;
    text-wrap: balance;
}

.exerciseCard:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.exerciseImage {
    max-width: 100%;
    margin-bottom: 20px;
}

.description {
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    text-align: center;
    font-size: 0.85rem;
    max-width: var(--max-width);
    width: 100%;
    z-index: 2;
    font-family: var(--font-mono);
}

.description p {
    position: relative;
    margin: 0;
    padding: 1rem;
    background-color: rgba(var(--callout-rgb), 0.5);
    border: 1px solid rgba(var(--callout-border-rgb), 0.3);
    border-radius: var(--border-radius);
  }

@media (hover: hover) and (pointer: fine) {
  .exerciseCard:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .exerciseCard:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .exerciseCard:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .exercisesGrid {
    grid-template-columns: 1fr;
    margin-bottom: 1rem;
    max-width: 320px;
    text-align: center;
  }

  .exerciseCard {
    padding: 1rem 2.5rem;
  }

  .exerciseCard h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
      font-size: 0.8rem;
    }

    .description p {
      display: flex;
      justify-content: center;
      position: fixed;
      width: 100%;
    }

    .description p {
      align-items: center;
      inset: 0 0 auto;
      padding: 2rem 1rem 1.4rem;
      border-radius: 0;
      border: none;
      border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
      background: linear-gradient(
        to bottom,
        rgba(var(--background-start-rgb), 1),
        rgba(var(--callout-rgb), 0.5)
      );
      background-clip: padding-box;
      backdrop-filter: blur(24px);
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .exercisesGrid {
    grid-template-columns: repeat(2, 50%);
    width: 650px;
  }
}