.exercisesGrid {
    display: grid;
    max-width: 100%;
    width: var(--max-width);
}

.exerciseCard {
    padding: 1rem 1.2rem;
    border-radius: var(--border-radius);
    background: rgba(var(--card-rgb), 0);
    border: 1px solid rgba(var(--card-border-rgb), 0);
    transition: background 200ms, border 200ms;
}

.exerciseCard span {
    display: inline-block;
    transition: transform 200ms;
}

.exerciseCard h2 {
    font-weight: 600;
    margin-bottom: 0.7rem;
}

.exerciseCard h3 {
    font-weight: 600;
    margin-bottom: 0.7rem;
}

.exerciseCard li {
    margin: 0;
    opacity: 0.8;
    font-size: 0.9rem;
    line-height: 1.5;
    text-wrap: balance;
    list-style-type: none;
}

.exerciseCard p {
    margin: 0;
    opacity: 0.8;
    font-size: 0.9rem;
    line-height: 1.5;
    text-wrap: balance;
    margin-bottom: 0.7rem;
}

.exerciseCard:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

@media (hover: hover) and (pointer: fine) {
  .exerciseCard:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .exerciseCard:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .exerciseCard:hover span {
    transform: none;
  }
}

.buttonsContainer {
  display: flex;
  justify-content: center;
}

.btn {
    display: inline-block;
    margin: 1rem;
    padding: 1rem 1.2rem;
    border-radius: var(--border-radius);
    background: rgba(var(--card-rgb), 0);
    border: 1px solid rgba(var(--card-border-rgb), 0);
    transition: background 200ms, border 200ms;
}

.btn span {
    display: inline-block;
    transition: transform 200ms;
}

.btnDelete {
  display: inline-block;
  margin: 1rem;
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.btnDelete span {
  display: inline-block;
  transition: transform 200ms;
}

@media (hover: hover) and (pointer: fine) {
    .btn:hover {
      background: rgba(var(--card-rgb), 0.1);
      border: 1px solid rgba(var(--card-border-rgb), 0.15);
    }
  
    .btn:hover span {
      transform: translateX(4px);
    }

    .btnDelete:hover {
      background: rgba(var(--card-rgb), 0.1);
      border: 1px solid red;
    }
  
    .btnDelete:hover span {
      transform: translateX(4px);
    }
}

@media (prefers-reduced-motion) {
    .btn:hover span {
      transform: none;
    }
    
    .btnDelete:hover span {
      transform: none;
    }
}

.error {
  color: red;
  font-size: 1rem; 
  margin: 0.5rem 0;
}

/* Mobile */
@media (max-width: 700px) {

  .exercisesGrid {
    grid-template-columns: 1fr;
    margin-bottom: 1rem;
    max-width: 320px;
    justify-content: center;
  }

  .exerciseCard {
    padding: 1rem 2.5rem;
  }

  .exerciseCard h2 {
    margin-bottom: 0.5rem;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .exercisesGrid {
    width: 650px;
  }
}
